/*--Font/Weight - Although the project doesn't use every one, I have kept them all as during/after the project, the weights can be altered--*/
 @import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');
/*--Header--*/
 .navbar-fixed-top {
     position: fixed;
     right: 0;
     left: 0;
     z-index: 999;
}
 .logo {
     background: url("../images/logo.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 180px;
     border: 1px solid black;
}
 .menu-container {
     font-size: 0;
     padding: 0;
}
 .menu-item {
     height: 180px;
     text-align: center;
     border: 1px solid black;
     padding: 0;
     background-color: #724FE2;
}
 .menu-item a {
     width: 100%;
     text-decoration: none;
     color: #fafafa;
}
 .menu-item a i {
     display: block;
     margin-top: 50px;
     font-size: 40px;
     color: #fafafa;
}
 .menu-item span {
     display: block;
     width: 100%;
     text-align: center;
     padding-top: 4px;
     font-size: 30px;
     font-family: "Exo", sans-serif;
     font-weight: 200;
     text-transform: uppercase;
}
 #nav {
     margin: 0;
}
/*--Section Home--*/
/*--Ive set this to clear the sticky nav bar --*/
 .section-body {
     padding-top: 180px;
}
 .section-container {
     margin: 0;
     padding: 0;
}
 .dj-image {
     background: url("../images/dj.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 1100px;
     border:black 1px solid;
}
 .bio-container {
     border: 1px solid black;
     background-color: #fafafa;
}
 .bio-container {
     text-align: center;
     padding-top: 100px;
}
 .bio-header {
     font-size: 40px;
     color: black;
     font-family: "Exo", sans-serif;
     font-weight: 500;
     text-transform: uppercase;
}
 .bio-text {
     font-size: 20px;
     text-align: center;
     padding: 20px;
     font-family: "Exo", sans-serif;
}
 .contact-header {
     font-size: 30px;
     color: black;
     padding-top: 100px;
     text-transform: uppercase;
     font-family: "Exo", sans-serif;
     font-weight: 500;
}
 .contact-text {
     font-family: "Roboto", sans-serif;
     font-size: 20px;
     padding-bottom: 50px;
}
 .email-address{
     color: black;
     font-family: "Exo", sans-serif;
     font-size: 20px;
}
/*--Section Listen--*/
 .decks-image {
     background: url("../images/decks.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 1100px;
     border:black 1px solid;
}
 .music-container {
     border: 2px solid black;
     background-color: #fafafa;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}
 .music-item {
     border: 1px solid black;
     margin: 20px;
     width: 90%;
     height: 200px;                         
}
/*--Section Signup--*/
 .studio-image {
     background: url("../images/studio.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 1100px;
     border: 1px solid black;
}
 .signup-container {
     border: 1px solid black;
     background-color: #fafafa;
     text-align: center;
     padding-top: 100px;
}
 .signup-header {
     font-size: 40px;
     color: black;
     font-family: "Exo", sans-serif;
     font-weight: 500;
     text-transform: uppercase;
}
 .signup-text {
     font-size: 20px;
     text-align: center;
     padding: 20px;
     font-family: "Exo", sans-serif;
}
 .signup-form {
     padding-top: 50px;
     padding-bottom: 50px;
     font-family: "Exo", sans-serif;
}
 .signup-button{
     margin: 10px;
}
 .form-box {
     position: relative;
     width: 80%;
     margin: 20px;
     height: 50px;
}
/*--Footer--*/
 footer {
     margin: 0;
     background-color: #724FE2;
     min-height: 90px;
     border: 1px solid black;
}
/*--used a fix from tutorial in mini project to stop content wrapping underneath----*/
 .list-inline-item:not(:last-child) {
     margin: 0;
}
 .footer-container {
     font-size: 0;
     padding: 0;
}
 .footer-item {
     height: 45px;
     text-align: center;
     padding: 0;
}
 .footer-item a {
     text-decoration: none;
     width: 50%;
     color: #fafafa;
}
 .footer-item a i {
     display: block;
     padding-top: 35px;
     font-size: 20px;
     color: #fafafa;
}
 #footer {
     margin: 0;
}
 .copyright {
     color: #fafafa;
     padding-top: 33px;
     font-family: "Exo", sans-serif;
     text-align: center;
}
/*--media querys --*/
 @media only screen and (max-width: 1020px) {
     .dj-image {
         min-height: 360px;
    }
     .studio-image {
         min-height: 360px;
    }
     .decks-image {
         min-height: 360px;
    }
}
/*-- between these widths the section padding needs to clear the nav bar on ipad and similar width devices --*/
 @media (max-width:991px) and (min-width:601px) {
     .section-body {
         padding-top: 360px;
    }
}
/*--media query - I've made the max width 600 as the logo looked too thin on ipad --*/
 @media only screen and (max-width: 600px) {
     .logo {
         height: 90px;
    }
     .menu-item {
         height: 90px;
    }
     .menu-item a i {
         margin-top: 20px;
         font-size: 20px;
    }
     .menu-item span {
         font-size: 20px;
    }
     .dj-image {
         min-height: 360px;
    }
     .studio-image {
         min-height: 360px;
    }
     .decks-image {
         min-height: 360px;
    }
     .copyright {
         margin-bottom: 10px;
    }
     .bio-container{
         padding: 20px;
    }
     .bio-text {
         padding: 10px;
    }
     .signup-container {
         padding-top: 20px;
    }
     .signup-text {
         padding: 20px;
         padding-bottom: 20px;
    }
     .music-item {
         height: 100px;
    }
     .contact-header {
         padding-top: 20px;
    }
     .contact-text {
         padding-bottom: 20px;
     }
}
