@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------------------Colors--*/

.ui-menu-color-home {
    background-color: #724FE2;
}


.ui-menu-color-listen {
    background-color: #6341CD;
}


.ui-menu-color-buy {
    background-color: #3F27A1;
}


.ui-menu-color-signup {
    background-color: #341f81}




/*---------------------------------------------------------Header--*/

header {
    margin: 0;
}

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    border:black 2px solid;

}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    padding: 0; 
}

.menuitem {
    height: 180px;
    text-align: center;
    border:black 1px solid;
    padding: 0;
}

.menuitem a {
    width: 50%;
    text-decoration: none;
    color: #fafafa;
}

.menuitem a i {
    display: block;
    padding-top: 50px;
    font-size: 40px;
    color: #fafafa;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 4px;
    font-size: 30px;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
} 

#nav {
    margin: 0;
}

/*---------------------------------------------------------Footer--*/


footer {
    margin: 0;
    background-color: #724FE2; 
    min-height: 90px;
}



.list-inline-item:not(:last-child) {
    margin: 0;
}

.footercontainer {
    font-size: 0;
    padding: 0; 
}

.footeritem {
    height: 50px;
    text-align: center;
    padding: 0;
}

.footeritem a {
    text-decoration: none;
    width: 50%;
    color: #fafafa;
}

.footeritem a i {
    display: block;
    padding-top: 30px;
    font-size: 40px;
    color: #fafafa;
}


#footer {
    margin: 0;
}

.copyright {  
    color: #fafafa;
    padding-top: 30px;
    font-family: "Roboto", sans-serif;
}

.copy-text {
    text-align: center;
}


