@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------------------Colors--*/

.menu-color-home {
    background-color: #724FE2;
}


.menu-color-listen {
    background-color: #6341CD;
}


.menu-color-buy {
    background-color: #3F27A1;
}


.menu-color-signup {
    background-color: #341f81}




/*---------------------------------------------------------Header--*/

header {
    margin: 0;
}

.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    border:black 2px solid;

}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    padding: 0; 
}

.menuitem {
    height: 180px;
    text-align: center;
    border:black 1px solid;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
}

.menuitem a i {
    display: block;
    margin-top: 50px;
    font-size: 40px;
    color: #fafafa;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 4px;
    font-size: 30px;
    font-family: "Exo", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
} 

#nav {
    margin: 0;
}

/*---------------------------------------------------------Section Home--*/

.sectioncontainer {
    margin: 0;
    padding: 0;
}

.djimage {
    background: url("../images/dj.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 520px;
    border:black 2px solid;
}

.biocontainer {
    border:black 2px solid;
    background-color: #BCBBFF;
    
}

.biocontainer {
    text-align: center;
    padding-top: 50px;
}

.bio-header {
    font-size: 40px;
    color: black;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    text-transform: uppercase;   
}


.bio-text {
    font-size: 25px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Roboto", sans-serif;
}

.contact-header {
    font-size: 30px;
    color: black;
    padding-top: 50px;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-weight: 500;
}

.contact-text {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
}

/*---------------------------------------------------------Section Listen--*/



.decksimage {
    background: url("../images/decks.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 520px;
    border:black 2px solid;
}

.musiccontainer {
    border:black 2px solid;
    background-color: #00FDFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}

.music-item {
    border:black 2px solid;  
    margin: 20px;
}

/*---------------------------------------------------------Section Signup--*/


.studio {
    background: url("../images/studio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 520px;
    border:black 2px solid;
}

.signupcontainer {
    border:black 2px solid;
    background-color: #CEB8DC;
    text-align: center;
    padding-top: 50px;
}

.signup-header {
    font-size: 40px;
    color: black;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    text-transform: uppercase;   
    
}


.signup-text {
    font-size: 25px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 50px;
}

.signup-form {
    padding-bottom: 50px;
    
}

/*---------------------------------------------------------Footer--*/


footer {
    margin: 0;
    background-color: #724FE2; 
    min-height: 90px;
    border:black 2px solid;

}



.list-inline-item:not(:last-child) {
    margin: 0;
}

.footercontainer {
    font-size: 0;
    padding: 0; 
}

.footeritem {
    height: 90px;
    text-align: center;
    padding: 0;
}

.footeritem a {
    text-decoration: none;
    width: 100%;
    color: #fafafa;
}

.footeritem a i {
    display: block;
    padding-top: 30px;
    font-size: 40px;
    color: #fafafa;
}


#footer {
    margin: 0;
}

.copyright {  
    color: #fafafa;
    padding-top: 33px;
    font-family: "Roboto", sans-serif;
}


